<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Tapia 2013</title>
  </head>
  <body class="tapia">
    <!-- Header area -->
   <div class="container">
      <h1>Tapia 2013, Washington DC</h1>
      <%= image_tag("tapia-2013/2013.jpg", :alt => "Attendees at the 2013 Tapia Conference", :classes => "img-responsive") %>
    </div>

    <!-- Photos Section -->
    <section class="section" id="about">
      <div class="container">
        <h3>Pizza afterwards</h3>
        <div class="row">
          <div class="span2 thumbnail">
            <%= image_tag("tapia-2013/pizza-1.jpg", :alt => "Attendees eating pizza", :classes => "img-responsive") %>
          </div>
          <div class="span2 thumbnail">
            <%= image_tag("tapia-2013/pizza-2.jpg", :alt => "Attendees eating pizza", :classes => "img-responsive") %>
          </div>
          <div class="span2 thumbnail">
            <%= image_tag("tapia-2013/pizza-3.jpg", :alt => "Attendees eating pizza", :classes => "img-responsive") %>
          </div>
          <div class="span2 thumbnail">
            <%= image_tag("tapia-2013/pizza-4.jpg", :alt => "Attendees eating pizza", :classes => "img-responsive") %>
          </div>
          <div class="span2 thumbnail">
            <%= image_tag("tapia-2013/pizza-5.jpg", :alt => "Attendees eating pizza", :classes => "img-responsive") %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
