<!DOCTYPE html>
<%= form_tag update_info_path, :method => :post do %>
  <section id="posts" class="section">
    <div class="container">
      <h3>My Profile Information</h3>
      <div class="row">
        <div class="span2">
          <%= label :current_user, :first_name, 'First Name' %>
        </div>
        <div class="span4">
          <%= text_field :current_user, :first_name %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <%= label :current_user, :last_name, 'Last Name' %>
        </div>
        <div class="span4">
          <%= text_field :current_user, :last_name %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <%= label :current_user, :location, 'Current City' %>
        </div>
        <div class="span4">
          <%= text_field :current_user, :location %>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <%= label :current_user, :country_of_origin, 'Country of Origin' %>
        </div>
        <div class="span2">
          <%= country_select :current_user, 
                             :country_of_origin, 
                             :include_blank => true,
                             :selected => "" %>
        </div>
      </div>
      <%= submit_tag 'Save Changes', :class => "btn btn-primary" %>
    </div>
  </section>
<% end %>

