<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Profile</title>
  </head>
  <body class="profile">
    <section class="section" id="profile">
      <div class="container login-wrapper">
        <div class="profile-header">
          <h3>My Profile</h3>
          <a href=<%= add_info_path %> class="edit-profile">
            <i class="icon-square icon-bgwhite icon-pencil icon-2x"></i>
          </a>
        </div>
        <%= image_tag("profile_default.jpg", :alt => "default profile picture", :class => "img-responsive img-pfp") %>
        <h1><%= @current_user.first_name + " " + @current_user.last_name %></h1>
        <p><strong>Email: </strong> <%= @current_user.email %> </p>
        <p><strong>Location: </strong> <%= @current_user.location %> </p>
        <p><strong>Country of origin : </strong> <%= @current_user.country_of_origin %> </p>
        <p><%= @current_user.map_visibility ? '' : 'Not' %> Visible on Map</p>
      </div>
    </section>
    </body>
</html>
